<template>
  <transition-group
    :style="{
      width: width + 'px',
      height: height + 'px'
    }"
    name="fade"
    tag="div"
    class="slider"
  >

    <div v-if="loading" key="loader" class="loader">
      <beta-icon name="spinner" />
    </div> <!-- // loader -->

    <div v-if="!loading" key="image" class="images">
      <transition-group
        :class="{
          'slide-left': slideDirection === 'left',
          'slide-right': slideDirection === 'right'
        }"
        name="slide"
        tag="div"
      >
        <!--
          I hesitated moving this into a separate component as it might have some logic,
          or at least cleanly set the image. But for now I haven't included separate image preloader,
          nor there's any specific behavior, so I just left it here :)
        -->
        <div
          v-for="image in activeSlide"
          :key="image.id"
          :style="{ 'background-image': 'url(' + image.url + ')' }"
          class="image"
        />
      </transition-group>
    </div> <!-- // images -->

    <div v-if="!loading" key="arrows" class="arrows">
      <beta-button class="prev" @click.stop.prevent="prev"><beta-icon name="arrow" /></beta-button>
      <beta-button class="next" @click.stop.prevent="next"><beta-icon name="arrow" rotated /></beta-button>
    </div> <!-- // arrows -->

  </transition-group>
</template>

<script>
import BetaIcon from './slider/BetaIcon.vue';
import BetaButton from './slider/BetaButton.vue';
import Server from './slider/Server';

export default {
  name: 'ImageSlider',
  components: { BetaIcon, BetaButton, Server },
  props: {
    width: { // maybe String (40%)?
      type: Number,
      default: 640
    },
    height: { // maybe String (40%)?
      type: Number,
      default: 480
    }
  },
  data() {
    return {
      loading: true,
      allImages: [],
      activeSlide: [], // it's actually just one element, but we're using transition-group for easy rendering :$
      currentIndex: 0,
      slideDirection: '' // maybe add computed property or hook to transition to remove this? not important now
    };
  },

  mounted() {
    this.loadImages();
  },

  methods: {
    // I would usually use debounce here, as if you click really fast on images animations won't be ready
    // and there will be some distortions. Hopefully not a problem :)
    prev() {
      this.setSlide(this.currentIndex - 1 < 0 ? this.allImages.length - 1 : this.currentIndex - 1, 'right');
    },
    next() {
      this.setSlide((this.currentIndex + 1) % this.allImages.length, 'left');
    },
    setSlide(index, direction = '') {
      if (!this.allImages.length || index < 0 || index > this.allImages.length - 1) { // very basic, needs more
        return;
      }

      this.currentIndex = index;
      this.slideDirection = direction;
      this.activeSlide = [this.allImages[index]]; // TODO: not super smart, something better?
    },
    loadImages() {
      // haven't handled any errors, but I hope mocky will just work :P
      Server.fetchImages('https://www.mocky.io/v2/5b753d5f2e00006900535f6c?mocky-delay=800ms')
        .then((data) => {
          // id is used for key in the v-for loop ;)
          this.allImages = data.images.map(url => ({ id: Math.round(Math.random() * 10000), url }));
          this.preloadImage();
        });
    },
    preloadImage(index = 0) {
      if (this.allImages.length > index) {
        Server.preloadImage(this.allImages[index].url).then(() => {
          // FIXME: Ideally this won't be here, because the method itself should know nothing about the slider at all.
          // I've done it as while testing I hate seeing the blankd screen, and I've put it here
          // just because it's way simpler and the outcome is basically the same.
          // Typically I would've used external preloader class acting as a sevice, gets a collection of images to load
          // and when the first one from the collection is loaded, it will fire an event.
          // In real life this would use an event bus and different handlers, but I thought there's no need for it now.
          if (index === 0) {
            this.setSlide(this.currentIndex);
            this.loading = false;
            this.$emit('show'); // testing purposes :P
          }
          this.preloadImage(index + 1);
        });
      }
    }
  }
};
</script>

<style lang="scss" scoped>
/**
 * I haven't used any global file with variables and stuff. Typically I do and use webpack's global data injection
 * in order to support global variables and mixins. But as this slider is fairly simple I thought it's not needed.
 * p.s. I still hate the transitions here thought :P
 */
.slider {
  position: relative;
  border: 1px solid #eee;
  overflow: hidden;

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .images {
    height: 100%;

    & > div {
      height: 100%;
    }

    .image {
      width: 100%;
      height: 100%;

      background-size: cover;
    }
  }

  .arrows {
    display: flex;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translate(0, -50%);
    justify-content: space-between;
  }
}

// transitions

.fade-enter-active, .fade-leave-active {
  transition: opacity 1s ease;
  opacity: 1;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}


.slide-enter-active, .slide-leave-active {
  position: absolute;
  transform: translate(0, 0);
  transition: transform 1s ease;
}

.slide-left .slide-enter, .slide-right .slide-leave-to {
  transform: translate(100%, 0);
}

.slide-left .slide-leave-to, .slide-right .slide-enter {
  transform: translate(-100%, 0);
}
</style>
