<template>
  <div id="app">
    <image-slider />
  </div>
</template>

<script>
import ImageSlider from './components/ImageSlider.vue';

export default {
  name: 'App',
  components: { ImageSlider }
};
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;

  display: flex;
  justify-content: center;
}
</style>
