<template>
  <!-- eslint-disable -->
  <span :data-rotation="rotated">
    <svg
      v-if="name === 'arrow'"
      width="10px"
      height="20px"
      viewBox="0 0 10 20"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <defs />
      <g id="Templates" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Template-Personalization---State-1" transform="translate(-935.000000, -836.000000)" fill-rule="nonzero" fill="#3E4C5A">
          <g id="main" transform="translate(-63.000000, 81.000000)">
            <g id="side" transform="translate(978.000000, 485.000000)">
              <g id="segment-box---browse" transform="translate(0.000000, 250.000000)">
                <g id="skipper" transform="translate(1.000000, 20.000000)">
                  <g id="left-arrow" transform="translate(19.000000, 0.000000)">
                    <path d="M8.82539683,19.7094017 C8.95238095,19.8461538 9.11111111,19.9145299 9.28571429,19.9145299 C9.46031746,19.9145299 9.61904762,19.8461538 9.74603175,19.7094017 C10,19.4358974 10,18.991453 9.74603175,18.7179487 L1.65079365,10 L9.74603175,1.28205128 C10,1.00854701 10,0.564102564 9.74603175,0.290598291 C9.49206349,0.0170940171 9.07936508,0.0170940171 8.82539683,0.290598291 L0.253968254,9.5042735 C2.6229019e-15,9.77777778 2.6229019e-15,10.2222222 0.253968254,10.4957265 L8.82539683,19.7094017 L8.82539683,19.7094017 Z" id="Shape"></path>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </g>
      </g>
    </svg><!-- // arrow -->

    <!-- By Sam Herbert (@sherb), for everyone. More @ http://goo.gl/7AJzbL -->
    <svg v-if="name === 'spinner'" width="44" height="44" viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg" stroke="#ccc">
        <g fill="none" fill-rule="evenodd" stroke-width="2">
            <circle cx="22" cy="22" r="1">
                <animate attributeName="r"
                    begin="0s" dur="1.8s"
                    values="1; 20"
                    calcMode="spline"
                    keyTimes="0; 1"
                    keySplines="0.165, 0.84, 0.44, 1"
                    repeatCount="indefinite" />
                <animate attributeName="stroke-opacity"
                    begin="0s" dur="1.8s"
                    values="1; 0"
                    calcMode="spline"
                    keyTimes="0; 1"
                    keySplines="0.3, 0.61, 0.355, 1"
                    repeatCount="indefinite" />
            </circle>
            <circle cx="22" cy="22" r="1">
                <animate attributeName="r"
                    begin="-0.9s" dur="1.8s"
                    values="1; 20"
                    calcMode="spline"
                    keyTimes="0; 1"
                    keySplines="0.165, 0.84, 0.44, 1"
                    repeatCount="indefinite" />
                <animate attributeName="stroke-opacity"
                    begin="-0.9s" dur="1.8s"
                    values="1; 0"
                    calcMode="spline"
                    keyTimes="0; 1"
                    keySplines="0.3, 0.61, 0.355, 1"
                    repeatCount="indefinite" />
            </circle>
        </g>
    </svg>
  </span>
</template>

<script>
export default {
  name: 'BetaIcon',
  props: {
    name: {
      type: String,
      default: ''
    },
    rotated: {
      type: Boolean,
      default: false
    }
  }
};
</script>

<style lang="scss" scoped>
span {
  height: 20px;

  &[data-rotation="true"] {
    transform: rotate(180deg);
  }
}
</style>

