<template>
  <a href="" class="button" v-on="$listeners">
    <slot />
  </a>
</template>

<script>
/*
  This component does not make much, but it's a logical separated,
  because it can handle not only it's style, but separate logic itself -
  disabling, state, transitions and animations. It could have it's own listeners
  and logic behind them.
*/
export default {
  name: 'BetaButton'
};
</script>

<style lang="scss" scoped>
.button {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(#fff, .5);
  transition: background-color .25s ease-in;

  &:hover {
    background-color: rgba(#fff, .7);
  }
}
</style>

